
<AuthInitializer PInvokeVoid=@JsMethode RedirectToLogin="/logout">
    <Router AppAssembly="typeof(Layout.SecondaryLayout).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.SecondaryLayout)" />            
        </Found>
        <NotFound>
            <p>Page introuvable</p>
        </NotFound>
    </Router>
</AuthInitializer>

@code{
    public List<string> JsMethode = new List<string>()
    {
        "depensio.initialized"
    };
}
