@page "/listboutique"
@layout SecondaryLayout
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<PageTitle>Liste des boutiques</PageTitle>

<div class="w-full bg-white border-b border-gray-200 sm:py-2 dark:bg-gray-800 dark:border-gray-700" id="pricing">
    <div class="container pt-24 md:pt-32 mx-auto">
        <h2>Liste des boutiques</h2>
    </div>
</div>