@page "/listboutique"
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Liste des boutiques</PageTitle>

<h2>Liste des boutiques</h2>