@inherits AuthLayoutBase
@inject AuthenticationStateProvider AuthStateProvider


<CascadingAuthenticationState>
    <RouteGuardNotConnected>
        <header class="bg-white shadow-md sticky top-0 z-50">
            <NavBar />
        </header>

        <main>
            @Body
        </main>

        <Footer />
    </RouteGuardNotConnected>
</CascadingAuthenticationState>