@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JSRuntime


<CascadingAuthenticationState>
    <RouteGuardNotConnected>
        <header class="bg-white shadow-md sticky top-0 z-50">
            <NavBar />
        </header>

        <main>
            @Body
        </main>

        <Footer />
    </RouteGuardNotConnected>
</CascadingAuthenticationState>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("depensio.initialized");
    }
}