@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<CascadingAuthenticationState>
    <header>
        <NavBar />
    </header>


    <div class="flex pt-16 overflow-hidden">
        <main id ="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto dark:bg-gray-900 px-4">
            @Body
        </main>
    </div>

    <Footer />

    @code {
        private bool isLoggedIn;

        protected override async Task OnInitializedAsync()
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            isLoggedIn = authState.User.Identity?.IsAuthenticated ?? false;
        }
    }



</CascadingAuthenticationState>