<NavLink href="/" class="flex items-center">
    <img 
        src="_content/depensio.Shared/logo.webp" 
        srcset="
            _content/depensio.Shared/logo.webp 118w,
            _content/depensio.Shared/logo.webp 236w
        "
        sizes="(max-width: 768px) 118px, 236px"
        alt="Depensio Logo" 
        class="h-10"
        loading="lazy"
    />
    <span class="ml-3 text-xl font-semibold text-gray-800"></span>
</NavLink>