@inherits AuthLayoutBase
@inject NavigationManager NavManager
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<NavBarDashboard OnAfterToggleSidebar="()=>{
    isSidebarOpen = !isSidebarOpen;
}" IsSidebarOpen="@isSidebarOpen" />

<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    <Sidebar boutiqueId="@boutiqueId" IsSidebarOpen="@isSidebarOpen" OnClose="()=>{
 isSidebarOpen = !isSidebarOpen;
}" />

    <div id="main-content" class="relative w-full min-h-screen overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main>
            @Body
        </main>
        <FooterDashboard />
    </div>

</div>

@code {
    private bool isSidebarOpen = false;

    private Guid boutiqueId;

    protected override void OnInitialized()
    {
        var uri = new Uri(NavManager.Uri);
        var segments = uri.AbsolutePath.Split('/', StringSplitOptions.RemoveEmptyEntries);

        var index = Array.IndexOf(segments, "dashboard");
        if (segments.Length > 0)
        {
            if (Guid.TryParse(segments[segments.Length -1], out var id))
            {
                boutiqueId = id;
            }
        }
    }
}