@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <header class="bg-white shadow-md sticky top-0 z-50">
        <NavBar /> 
    </header>
  
@* 
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
        *@ 
        <main>
            @Body
        </main>
  @*   </div>

</div> *@

<Footer />

    @code {
        private bool isLoggedIn;

        protected override async Task OnInitializedAsync()
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            isLoggedIn = authState.User.Identity?.IsAuthenticated ?? false;
        }


        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await JS.InvokeVoidAsync("depensio.initialized");
            }
        }
    }



</CascadingAuthenticationState>