@inherits AuthLayoutBase
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<CascadingAuthenticationState>
    <RouteGuard>
        <header class="bg-white shadow-md sticky top-0 z-50">
            <NavBar />
        </header>

        <main>
            @Body
        </main>

        <Footer />
    </RouteGuard>
</CascadingAuthenticationState>