@inherits LayoutComponentBase


<CascadingAuthenticationState>
    <RouteGuard RedirectToLogin="/login" RedirectToAccessDenied="/access_denied">
        <header class="bg-white shadow-md sticky top-0 z-50">
            <NavBar />
        </header>

        <main>
            @Body
        </main>

        <!-- Chatbot Modal -->
        <ChatbotComponent />
        <Footer />
    </RouteGuard>
</CascadingAuthenticationState>