<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/depensio.Shared/app.css" />
    @* <link rel="stylesheet" href="depensio.Web.styles.css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="_content/depensio.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    @* <script src="js/site.js"></script>
    <script src="js/observer.js"></script> *@
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="_content/depensio.Shared/js/flowbite-interop.js"></script>
    <script src="_content/depensio.Shared/js/main.js"></script>

    <script src="@zxing"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
    <script src="_content/depensio.Shared/js/qrScanner.js"></script>
    <script src="_content/depensio.Shared/js/barcode.js"></script>

    @code {
        private string zxing = "https://unpkg.com/@zxing/library@latest";
    }
</body>

</html>
