@using Microsoft.AspNetCore.Components.Authorization
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime

<CascadingAuthenticationState>
    @if (isInitialized)
    {
        @ChildContent
    }
    else
    {
        <div class="flex items-center justify-center min-h-screen">
            <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-primary-700"></div>
        </div>
    }
</CascadingAuthenticationState>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    private bool isInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("depensio.initialized");
            try
            {
                // Attendre que le DOM soit prêt avant d'initialiser l'auth
                await Task.Delay(100);
                await AuthService.LoadTokenAsync();
            }
            catch
            {
                // En cas d'erreur, on continue
            }
            finally
            {
                isInitialized = true;
                StateHasChanged();
            }
        }
    }
} 