<header class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full" >
        <h1 class="text-3xl font-bold text-primary-700 text-gray-900 sm:text-2xl dark:text-white">
            @Title
        </h1>
        <p class="text-gray-600">
            @SubTitle
        </p>
    </div>    
</header>
@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string SubTitle { get; set; } = "";
}