@if (IsLoad)
{
    <div class="fixed inset-0 z-900 w-full h-full bg-white bg-opacity-80 flex justify-center items-center">
        <div role="status" class="flex justify-center items-center">
            <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-primary-700"></div>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

}


@code {
    [Parameter]
    public bool IsLoad { get; set; }
}
