<div class="text-center">
    <div class="loader"></div>
    <p class="mt-4 text-gray-700 font-medium">Chargement des données...</p>
    <div class="w-64 mx-auto progress-bar">
        <div class="progress"></div>
    </div>
</div>
