@if (IsLoad)
{
    <div class="fixed inset-0 z-2000 w-full h-full bg-white bg-opacity-80 flex justify-center items-center">
        <div role="status" class="flex justify-center items-center">
            <svg aria-hidden="true" class="w-10 h-10 text-primary-700 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908..." fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539..." fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>

}


@code {
    [Parameter]
    public bool IsLoad { get; set; }
}
