<div class="@onShowModal(ShowModal)">
    <!-- Overlay sombre -->
    <div class="fixed inset-0 bg-black bg-opacity-50 z-40"></div>

    <!-- Conteneur de la modal -->
    <div class="fixed inset-0 flex items-center justify-center z-50 overflow-y-auto">
        <div class="bg-white rounded-lg shadow-xl w-full max-w-md mx-4 my-8 relative">
            <div class="flex justify-between items-center border-b px-6 py-4">
                <h3 class="text-lg font-semibold text-primary-700">@ModalTitle</h3>
                <button type="button" @onclick="closeModal" class="text-gray-500 hover:text-gray-700">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <section class="overflow-y-auto max-h-[80vh]">
                @ChildContent
            </section>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ModalTitle { get; set; } = "";

    /// <summary>
    /// ChildContent contenu de la modal
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    
    [Parameter]
    public bool ShowModal { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnCloseModal { get; set; }
    
    private void closeModal()
    {
        OnCloseModal.InvokeAsync(null);
    }

    private string onShowModal(bool show) =>
    show
    ? "fixed inset-0 flex items-center justify-center z-50" : "hidden";
}