@using depensio.Shared.Enums
@using depensio.Shared.Helpers
@using depensio.Shared.Pages.Boutique.Model
@using depensio.Shared.Pages.Produits.Models
@inject IAuthUserService _userService;
@inject IBoutiqueSettingService _boutiqueSettingService

<LoadingComponent IsLoad="@isLoad" />

<EditForm EditContext="@editContext" OnValidSubmit="HandleCreateOrUpdate">
    <DataAnnotationsValidator />
    <ErrorsSummary editContext="@editContext" />

    <div class="p-6">
        <input type="hidden" id="userId">
        <div class="mb-4">
            <label for="userEmail" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
            <InputText @bind-Value="user.Email" id="userName" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary-700 focus:border-transparent" />
            <div class="error-message">
                <ValidationMessage For="@(() => user.Email)" />
            </div>
        </div>
    </div>
    <div class="flex justify-end gap-3 px-6 py-4 border-t">
        <button type="submit" class="px-4 py-2 bg-primary-700 text-white rounded-md hover:bg-amber-800">Enregistrer</button>
    </div>


</EditForm>



@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnAfterSave { get; set; }

    [Parameter]
    public Guid BoutiqueId { get; set; }

    [Parameter]
    public string Email { get; set; } = string.Empty;


    private bool isLoad = false;

    [Parameter]
    public SignUpBoutiqueDTO user { get; set; } = new();

    private ErrorMessage errorMessage = new();

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;
    BarcodeGenerationMode mode;
    bool isAuto = true;
    bool stockIsAuto = false;
    //private BoutiqueSettingValue settingCodeBar;



    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(user);


        messageStore = new ValidationMessageStore(editContext);

        editContext.OnValidationRequested += (s, e) => messageStore.Clear();
        editContext.OnFieldChanged += (s, e) => messageStore.Clear(e.FieldIdentifier);

    }

    private async Task HandleCreateOrUpdate()
    {
        isLoad = true;
        try
        {
            user.BoutiqueId = BoutiqueId; // Set the boutique ID for the user
            BaseResponse<CreateUserResponse> result = default;

            result = await _userService.CreateUserAsync(new CreateUserRequest(user));

            if (result.Success)
            {
                messageStore?.Clear();
                editContext?.NotifyValidationStateChanged();
                user = new SignUpBoutiqueDTO(); // Reset the boutique object
                await OnAfterSave.InvokeAsync(null); // Notify parent component
            }

        }
        catch (ApiException ex)
        {
            try
            {
                var errorResult = JsonSerializer.Deserialize<ErrorMessage>(ex.Content, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });


                // Efface les anciennes erreurs
                messageStore.Clear();

                if (errorResult?.ValidationErrors != null && errorResult.ValidationErrors.Any())
                {
                    foreach (var validationError in errorResult.ValidationErrors)
                    {
                        // Nettoyer le nom de propriété (ex: Product.Name -> Name)
                        var propertyName = validationError.PropertyName;
                        if (propertyName.Contains('.'))
                            propertyName = propertyName.Split('.').Last();

                        // Associer au champ si possible
                        var fieldIdentifier = new FieldIdentifier(user!, propertyName);
                        messageStore.Add(fieldIdentifier, validationError.ErrorMessage);
                    }
                }
                else if (!string.IsNullOrWhiteSpace(errorResult?.Detail))
                {
                    // Message global sans champ spécifique
                    var fieldIdentifier = new FieldIdentifier(user!, string.Empty);
                    messageStore.Add(fieldIdentifier, errorResult.Detail);
                }

                // Rafraîchir l’affichage
                editContext.NotifyValidationStateChanged();


            }
            catch
            {
                messageStore?.Add(new FieldIdentifier(user, string.Empty), "Une erreur est survenue.");
                editContext?.NotifyValidationStateChanged();
            }
        }
        finally
        {
            isLoad = false;
        }
    }

}