name: Build docker images

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches: [main]

env:
  REGISTRY: komanatse
  IMAGE_API: depensioapi
  IMAGE_WEB: depensioweb
  IMAGE_SQL: depensiosql

jobs:
  build-and-push:
    name: Build & Push Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write   # ✅ nécessaire pour push vers GHCR

    steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Setup .NET
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 9.0.x
  
        - name: Install dotnet-ef tool
          run: |
            dotnet tool install --global dotnet-ef
            export PATH="$PATH:$HOME/.dotnet/tools"
  
        #- name: Login to GitHub Container Registry
        #  uses: docker/login-action@v3
        #  with:
        #    registry: ${{ env.REGISTRY }}
        #    username: ${{ github.actor }}
        #    password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Login to Docker Hub
          run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ env.REGISTRY }}" --password-stdin

        # Build et générer le SQL
        - name: Generate EF SQL
          run: |
            dotnet restore backend/depensio.Api/
            dotnet build backend/depensio.Api/ --no-restore --configuration Release
            dotnet ef migrations script --project backend/depensio.Infrastructure --startup-project backend/depensio.Api --output migrations.sql --idempotent
        
        # Build ef-migrator image
        - name: Build ef-migrator image
          run: |
            docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_SQL }} -f depensiosql.Dockerfile .
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_SQL }}:latest
            
        # Build et push API
        - name: Build & push depensio.api
          run: |
            docker build \
              -t ${{ env.REGISTRY }}/${{ env.IMAGE_API }}:latest \
              -f backend/depensio.Api/Dockerfile .
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_API }}:latest

        # Update appsettings Web
        - name: Create appsettings.json for Web
          run: |
            cat <<EOF > frontend/depensio.Web.Client/wwwroot/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL }}"
              }
            }
            EOF
        
            cat <<EOF > frontend/depensio.Web/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL }}"
              }
            }
            EOF
            
        # Build et push Web
        - name: Build & push depensio.web
          run: |
            docker build \
              -t ${{ env.REGISTRY }}/${{ env.IMAGE_WEB }}:latest \
              -f frontend/depensio.Web/Dockerfile .
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_WEB }}:latest


